html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #336099;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}
.logo p {
  padding-left: 9px;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: 0;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: 0px 0.042px 2.214px 0px rgba(29, 49, 56, 0.12), 0px -1.253px 5.32px 0px rgba(29, 49, 56, 0.17), 0px -4.344px 10.017px 0px rgba(29, 49, 56, 0.19), 0px -10.095px 17.869px 0px rgba(29, 49, 56, 0.2), 0px -20.572px 33.422px 0px rgba(29, 49, 56, 0.21), 0px -46px 80px 0px rgba(29, 49, 56, 0.26);
  cursor: pointer;
}

.footer {
  flex: 0 0 auto;
}

/*---------- header ----------*/
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  height: 100px;
  text-transform: uppercase;
}
.header__logo {
  color: #FDC055;
  padding-right: 60px;
  font-size: 18px;
}
.header__logo span {
  color: #DF6F5B;
}
.header .menu__list {
  display: flex;
  gap: 40px;
}
.header__btn {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  cursor: pointer;
}

/*---------- hero ----------*/
.hero {
  position: relative;
  background-image: linear-gradient(270deg, #A5FAEE -1.5%, #50B0A2 50.97%, #336099 92.34%);
}
.hero:after {
  position: absolute;
  content: "";
  right: 0;
  width: 280px;
  height: 237px;
  background-image: url("../images/hero-tongue.svg");
  background-repeat: no-repeat;
}
.hero .container {
  padding-right: 0;
}
.hero__inner {
  position: relative;
}
.hero__inner:after {
  position: absolute;
  content: "";
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 100px;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
}
.hero__content {
  color: #FFFFFF;
  padding-top: 210px;
  padding-bottom: 73px;
  max-width: 552px;
}
.hero__title {
  font-size: 68px;
  padding-left: 42px;
  padding-bottom: 33px;
}
.hero__title span {
  color: #DF6F5B;
}
.hero__content p {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

/*---------- projects ----------*/
.projects {
  display: flex;
  justify-content: center;
}
.projects__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0px 0px 50px 0px;
  background-color: #C0E3DE;
  width: 30%;
  padding: 36px 50px 58px 15px;
}
.projects .menu {
  margin-bottom: 44px;
  max-width: 440px;
}
.projects .menu__list-item:not(:last-child) {
  padding-bottom: 28px;
}
.projects__sidebar-btn {
  margin-right: 130px;
}
.projects__gallery {
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
