@media (min-width: 2560px) {
  .projects {
    &__gallery-slider {
      max-width: 1570px;
    }
  }
}

@media (max-width: 1790px) {
  .hero {
    &__inner:after {
      width: 90vw;
      background-size: contain;
      background-position: top;
    }
  }
  .projects {
    &__sidebar {
      padding: 66px 20px 58px 15px;
    }
    &__sidebar:after {
      left: 0;
    }
    &__gallery-title {
      margin: 30px 0 35px 40px;
    }
    &__gallery-slider {
      margin: 33px 0 30px 60px;
    }
  }
}

@media (max-width: 1400px) {
  .consultation {
    .container:before {
      max-width: 700px;
      max-height: 500px;
      transform: translate(90%, 50px);
      background-size: contain;
    }
    &__content {
      padding: 100px 0 100px 80px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &__inner {
      justify-content: space-between;
      gap: 20px;
    }
    .menu {
      position: absolute;
      left: -100vw;
      top: 100px;
      background-color: $white;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      transition: transform .5s;
      border-top: 3px solid $accent;
      box-shadow: 0px 5px 5px -5px $accent inset;
    }
    .menu__list {
      margin: 40px 30px;
      display: flex;
      flex-direction: column;
    }
    .menu.open {
      transform: translateX(100%);
    }
    &__glasses {
      display: none;
    }
    #menuBtn {
      position: relative;
      display: flex;
      z-index: 1000;
    }
  }
  .hero {
    &__inner:after {
      top: 30px;
      width: 100vw;
      margin-left: 0;
    }
    &__content {
      padding-bottom: 40px;
    }
    &__title {
      font-size: 48px;
    }
  }
  .projects {
    &__sidebar {
      display: none;
    }
    &__gallery {
      width: 100%;
    }
    &__gallery-slider {
      margin: 33px 40px 30px 40px;
    }
  }
  .consultation {
    .container:before {
      width: 500px;
      height: 300px;
      transform: translate(100%, 80px);
    }
    &__content {
      padding: 100px 15px 100px 15px;
    }
  }
}

@media (max-width: 1000px) {
  .consultation {
    .container:before {
      left: 50%;
      transform: translate(-50%, 20px);
    }
    &__content {
      padding: 300px 15px 100px 15px;
      max-width: 100%;
      text-align: center;
    }
    &__content-title {
      font-size: 36px;
    }
  }
}

@media (max-width: 800px) {
  .hero {
    .container {
      padding-right: 15px;
    }
    &__title {
      padding-left: 0;
    }
    &__content {
      padding-top: 160px;
    }
    &__content p {
      text-align: left;
      font-size: 22px;
    }
  }
  .projects {
    &__gallery-title {
      margin: 30px 0 35px 15px;
    }
    &__gallery-slider {
      margin: 33px 15px 30px 15px;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    &__title {
      font-size: 32px;
      padding-bottom: 18px;
    }
    &__content {
      padding-top: 120px;
    }
    &__content p {
      font-size: 18px;
    }
  }
  .projects {
    &__gallery-title {
      font-size: 24px;
      padding: 20px 30px 20px 40px;
    }
  }
  .consultation {
    &__content {
      padding: 300px 15px 50px 15px;
    }
    &__content-title {
      font-size: 24px;
    }
    &__content p {
      font-weight: 400;
      font-size: 16px;
    }
  }
}
