$default: #336099;
$white: #FFFFFF;
$accent: #DF6F5B;
$secondary: #FDC055;
$background: #C0E3DE;
$title-background: #50B0A2;
$shadow: #D9D9D935;
$gradient: linear-gradient(270deg, #A5FAEE -1.5%, #50B0A2 50.97%, #336099 92.34%);
