@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #336099;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.big-font {
  font-size: 28px !important;
}

.logo {
  display: flex;
  align-items: center;
}
.logo p {
  padding-left: 9px;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: 0;
  min-width: 180px;
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0.042px 2.214px 0 rgba(29, 49, 56, 0.12), 0px -1.253px 5.32px 0px rgba(29, 49, 56, 0.17), 0px -4.344px 10.017px 0px rgba(29, 49, 56, 0.19), 0px -10.095px 17.869px 0px rgba(29, 49, 56, 0.2), 0px -20.572px 33.422px 0px rgba(29, 49, 56, 0.21), 0px -46px 80px 0px rgba(29, 49, 56, 0.26);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(2px);
}

.no-scroll {
  overflow-y: hidden;
}

.footer {
  flex: 0 0 auto;
}

/*---------- header ----------*/
a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  height: 100px;
  text-transform: uppercase;
}
.header__logo {
  color: #FDC055;
  padding-right: 60px;
  font-size: 18px;
}
.header__logo span {
  color: #DF6F5B;
}
.header .menu__list {
  display: flex;
  gap: 40px;
}
.header__glasses {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  cursor: pointer;
}
.header #menuBtn {
  display: none;
  font-size: 35px;
  color: #336099;
  align-items: center;
  cursor: pointer;
}

/*---------- hero ----------*/
.hero {
  position: relative;
  background-image: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
}
.hero:after {
  position: absolute;
  content: "";
  right: 0;
  width: 280px;
  height: 237px;
  background-image: url("../images/hero-tongue.svg");
  background-repeat: no-repeat;
}
.hero .container {
  padding-right: 0;
}
.hero__inner {
  position: relative;
}
.hero__inner:after {
  position: absolute;
  content: "";
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 100px;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
}
.hero__content {
  color: #FFFFFF;
  padding-top: 210px;
  padding-bottom: 73px;
  max-width: 552px;
}
.hero__title {
  font-size: 68px;
  padding-left: 42px;
  padding-bottom: 33px;
}
.hero__title span {
  color: #DF6F5B;
}
.hero__content p {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

/*---------- projects ----------*/
.projects {
  display: flex;
  justify-content: center;
}
.projects__sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50px 0;
  background-color: #C0E3DE;
  width: 30%;
  padding: 66px 50px 58px 15px;
}
.projects__sidebar:after {
  position: absolute;
  content: "";
  left: 150px;
  bottom: -237px;
  width: 280px;
  height: 237px;
  background-image: url("../images/projects-tongue.svg");
  background-repeat: no-repeat;
}
.projects .menu {
  margin-bottom: 44px;
  max-width: 440px;
}
.projects .menu__list-item:not(:last-child) {
  padding-bottom: 28px;
}
.projects__sidebar-btn {
  margin-left: 80px;
}
.projects__gallery {
  width: 70%;
}
.projects__gallery-title {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #50B0A2;
  border-radius: 50px 0 0 0;
  margin: 30px 0 35px 70px;
  padding: 20px 30px 20px 80px;
}
.projects .title-line {
  position: relative;
  margin-left: 30px;
  border-bottom: 2px dashed #FFFFFF;
  flex: 1 0 auto;
  top: 50%;
  transform: translateY(50%);
}
.projects .title-line:before {
  position: absolute;
  content: "";
  top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.projects .title-line:after {
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 11px rgba(217, 217, 217, 0.2078431373);
  background-color: #FFFFFF;
  outline: 2px dashed #FFFFFF;
  outline-offset: 10px;
}
.projects__gallery-slider {
  margin: 33px 0 30px 90px;
  max-width: 1170px;
}
.projects .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.projects .swiper-slide {
  max-width: 364px;
  height: 580px;
}
.projects .swiper-slide-inner {
  position: relative;
  height: 510px;
  box-shadow: 0 26px 37px -7px rgba(0, 0, 0, 0.2);
}
.projects .swiper-slide-text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 90%;
  height: 84px;
  background-color: #C0E3DE;
  border-radius: 10px 0 0 10px;
}
.projects .swiper-slide-inner p {
  padding: 2px 5px 2px 10px;
  line-height: 1.5rem;
}
.projects .swiper-slide-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .swiper-pagination-bullet {
  background-color: #50B0A2;
  width: 12px;
  height: 12px;
}
.projects .swiper-pagination-bullet-active {
  background-color: #336099;
}

/*---------- consultation ----------*/
.consultation {
  background-image: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
}
.consultation .container {
  position: relative;
}
.consultation .container:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50px);
  background-image: url("../images/consultation-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.consultation .container:after {
  position: absolute;
  content: "";
  right: 350px;
  bottom: -237px;
  width: 280px;
  height: 237px;
  background-image: url("../images/consultation-tongue.svg");
  background-repeat: no-repeat;
}
.consultation__content {
  position: relative;
  z-index: 5;
  max-width: 600px;
  color: #FFFFFF;
  padding: 210px 0 210px 80px;
}
.consultation__content-title {
  font-size: 40px;
  font-weight: 500;
}
.consultation__content p {
  font-weight: 500;
  font-size: 18px;
  padding: 26px 0 64px;
}
.consultation__content-link {
  text-decoration: underline;
}
.consultation__content-btn {
  color: #336099;
}

/*---------- about ----------*/
.about {
  margin-top: 44px;
  margin-bottom: 40px;
}
.about__band {
  background-color: #50B0A2;
  border-radius: 0 50px 0 0;
  width: 40%;
  height: 111px;
}
.about .container {
  position: relative;
}
.about .about__title {
  position: absolute;
  top: -111px;
  left: 100px;
  font-size: 42px;
  padding: 30px;
  color: #FFFFFF;
  font-weight: 500;
}
.about__content {
  display: flex;
  padding-top: 18px;
}
.about__content-block:first-child {
  width: 40%;
}
.about__content-block:last-child {
  width: 60%;
}
.about__content-text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 90px;
}
.about__content-text p:first-child {
  padding-bottom: 26px;
}
.about__content-link {
  margin-top: 55px;
  margin-left: 107px;
}
.about__content-link .btn {
  display: inline-block;
  background-color: #FDC055;
}

/*---------- tabs ----------*/
.structure {
  margin: 20px 0 50px;
}
.structure__title {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 23px;
}
.structure .tab-nav {
  border-bottom: 1px solid rgb(217, 217, 217);
}
.structure .tab-btn {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding-inline: 0;
  padding: 10px 20px;
  position: relative;
  top: 1px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(217, 217, 217);
}
.structure .tab-btn:not(:last-child) {
  margin-right: -5px;
}
.structure .tab-btn-active {
  pointer-events: none;
  background-color: rgb(255, 255, 255);
}
.structure .tab-content {
  margin-top: 50px;
}
.structure .tab-content__structure {
  background-image: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
}
.structure .tab-content__logo {
  position: relative;
  top: 100px;
  font-size: 34px;
  color: #FFFFFF;
}
.structure .tab-content__logo:after {
  position: absolute;
  content: "";
  top: -70px;
  left: 0;
  width: 250px;
  height: 250px;
  background-image: url("../images/structure-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.structure .tab-content__logo span {
  color: #DF6F5B;
}
.structure .tab-content__img {
  position: relative;
  top: 110px;
  left: 100px;
}
.structure .tab-pane:not(.tab-pane-show) {
  display: none;
}
.structure .tab-content__tasks {
  font-size: 34px;
  font-weight: 400;
}
.structure .tab-content__tasks-header {
  background-image: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
}
.structure .tab-content__header-inner {
  display: flex;
  align-items: center;
  gap: 130px;
}
.structure .tab-content__title {
  padding: 90px 0;
  max-width: 1000px;
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 700;
}
.structure .tab-content__header-inner .tab-content__logo {
  top: 30px;
}
.structure .tab-content__tasks-header .container {
  position: relative;
}
.structure .tab-content__tasks-header .container:after {
  position: absolute;
  content: "";
  left: -67px;
  bottom: -237px;
  width: 280px;
  height: 237px;
  background-image: url("../images/tasks-tongue.svg");
  background-repeat: no-repeat;
}
.structure .tab-content__task-one {
  background-color: #C0E3DE;
  border-radius: 0 0 50px 0;
  padding-top: 41px;
  padding-bottom: 60px;
}
.structure .task-one__title {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  background-color: #FFFFFF;
  border-radius: 50px 0 0 0;
  margin-left: 40%;
  margin-bottom: 35px;
  padding: 20px 30px 20px 80px;
}
.structure .task-one__title .title-line {
  position: relative;
  margin-left: 30px;
  border-bottom: 2px dashed #336099;
  flex: 1 0 auto;
  top: 50%;
  transform: translateY(50%);
}
.structure .task-one__title .title-line:before {
  position: absolute;
  content: "";
  top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #336099;
}
.structure .task-one__title .title-line:after {
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 11px rgba(217, 217, 217, 0.2078431373);
  background-color: #336099;
  outline: 2px dashed #336099;
  outline-offset: 10px;
}
.structure .task-one__text {
  line-height: 1.7;
  font-size: 24px;
  max-width: 1337px;
}
.structure .tab-content__task-two {
  line-height: 1.7;
  font-size: 24px;
  padding-bottom: 100px;
}
.structure .task-two__title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  color: #FFFFFF;
  background-image: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
  border-radius: 0 50px 0 0;
  margin-top: 42px;
  margin-right: 40%;
  margin-bottom: 80px;
  padding: 20px 80px 20px 30px;
}
.structure .task-two__title .title-line {
  position: relative;
  margin-right: 30px;
  border-bottom: 2px dashed #FFFFFF;
  flex: 1 0 auto;
  top: 50%;
  transform: translateY(50%);
}
.structure .task-two__title .title-line:before {
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.structure .task-two__title .title-line:after {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 11px rgba(217, 217, 217, 0.2078431373);
  background-color: #FFFFFF;
  outline: 2px dashed #FFFFFF;
  outline-offset: 10px;
}
.structure .task-two__content {
  display: flex;
  gap: 90px;
  align-items: center;
}
.structure .task-two__text {
  max-width: 1017px;
}
.structure .tab-content__task-three {
  background-color: #C0E3DE;
  border-radius: 50px 0 50px 0;
  padding-top: 41px;
  padding-bottom: 60px;
}
.structure .task-three__title {
  color: #FFFFFF;
  background-image: linear-gradient(270deg, #336099 -1.5%, #50B0A2 50.97%, #86e3d4 92.34%);
  margin-bottom: 80px;
  margin-left: 50px;
  padding: 16px;
  border-radius: 50px 0 0 0;
}
.structure .task-three__title .container {
  margin-left: 15px;
  max-width: 1287px;
}
.structure .task-three__content {
  display: flex;
  justify-content: space-between;
}
.structure .task-three__list {
  line-height: 1.7;
  font-size: 24px;
  height: 275px;
  max-width: 1287px;
  padding-bottom: 80px;
  overflow: hidden;
}
.structure .task-three__list-item:before {
  content: "- ";
}
.structure .task-three__img {
  padding-top: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.structure .task-three__content-link .btn {
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  background-color: #FFFFFF;
}

/*---------- footer ----------*/
.footer {
  background-image: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
}
.footer__inner {
  display: flex;
  gap: 10px;
  margin: 56px 0 59px;
  justify-content: space-around;
  color: #FFFFFF;
}
.footer__logo {
  font-size: 32px;
}
.footer__сompany-name {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  max-width: 336px;
}
.footer__content {
  margin-top: 68px;
  font-weight: 500;
}
.footer__content-title {
  font-size: 18px;
  text-transform: uppercase;
}
.footer__content-link {
  text-decoration: underline;
}

/*---------- modals ----------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-content {
  border-radius: 15px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: -moz-max-content;
  width: max-content;
}
.modal .modal-content__header {
  text-align: center;
  margin-bottom: 10px;
}
.modal .modal-content__header .modal-title {
  color: #000;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 35px;
}
.modal .modal-content__body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  justify-content: center;
}
.modal .modal-content__body .modal-element {
  padding: 5px;
}
.modal .modal-close {
  cursor: pointer;
  color: #AAA;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

@media (min-width: 2560px) {
  .projects__gallery-slider {
    max-width: 1570px;
  }
}
@media (max-width: 1790px) {
  .hero__inner:after {
    width: 90vw;
    background-size: contain;
    background-position: top;
  }
  .projects__sidebar {
    padding: 66px 20px 58px 15px;
  }
  .projects__sidebar:after {
    left: 0;
  }
  .projects__gallery-title {
    margin: 30px 0 35px 40px;
  }
  .projects__gallery-slider {
    margin: 33px 0 30px 60px;
  }
}
@media (max-width: 1600px) {
  .structure .tab-content__img {
    position: static;
  }
}
@media (max-width: 1400px) {
  .consultation .container:before {
    max-width: 700px;
    max-height: 500px;
    transform: translate(90%, 50px);
    background-size: contain;
  }
  .consultation__content {
    padding: 100px 0 100px 80px;
  }
}
@media (max-width: 1200px) {
  .header__inner {
    justify-content: space-between;
    gap: 20px;
  }
  .header .menu {
    position: absolute;
    left: -100vw;
    top: 100px;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: transform 0.5s;
    border-top: 3px solid #DF6F5B;
    box-shadow: 0px 5px 5px -5px #DF6F5B inset;
  }
  .header .menu__list {
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
  }
  .header .menu.open {
    transform: translateX(100%);
  }
  .header__glasses {
    display: none;
  }
  .header #menuBtn {
    position: relative;
    display: flex;
    z-index: 1000;
  }
  .hero__inner:after {
    top: 30px;
    width: 100vw;
    margin-left: 0;
  }
  .hero__content {
    padding-bottom: 40px;
  }
  .hero__title {
    font-size: 48px;
  }
  .projects__sidebar {
    display: none;
  }
  .projects__gallery {
    width: 100%;
  }
  .projects__gallery-slider {
    margin: 33px 40px 30px 40px;
  }
  .consultation .container:before {
    width: 500px;
    height: 300px;
    transform: translate(100%, 80px);
  }
  .consultation__content {
    padding: 100px 15px 100px 15px;
  }
  .about__band {
    height: 100px;
  }
  .about .about__title {
    font-size: 36px;
    top: -101px;
    left: 0;
  }
  .about__content-block:first-child, .about__content-block:last-child {
    width: 100%;
  }
  .about__content-block img {
    max-width: 500px;
    margin: 0 auto;
  }
  .about__content-text {
    font-size: 16px;
    font-weight: 400;
    margin-left: 0;
  }
  .about__content-link {
    margin-top: 40px;
    margin-left: 0;
  }
  .structure .tab-content__header-inner {
    gap: 50px;
  }
  .structure .tab-content__title {
    font-size: 28px;
  }
  .structure .task-one__title {
    font-size: 26px;
    padding-left: 40px;
  }
  .structure .task-two__title {
    font-size: 26px;
    padding-right: 40px;
  }
  .structure .task-three__title {
    font-size: 26px;
  }
  .structure .task-one__text,
  .structure .task-two__text,
  .structure .task-three__list {
    font-size: 24px;
  }
  .footer__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .consultation .container:before {
    left: 50%;
    transform: translate(-50%, 20px);
  }
  .consultation__content {
    padding: 300px 15px 100px 15px;
    max-width: 100%;
    text-align: center;
  }
  .consultation__content-title {
    font-size: 36px;
  }
  .about__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__content-block:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .structure .tab-content__img {
    padding-top: 100px;
  }
  .structure .task-one__title {
    margin-left: 120px;
  }
  .structure .task-two__title {
    margin-right: 120px;
  }
  .structure .task-two__content {
    gap: 30px;
  }
  .structure .task-two__img {
    width: 150px;
  }
  .structure .task-three__img {
    width: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 800px) {
  .hero .container {
    padding-right: 15px;
  }
  .hero__title {
    padding-left: 0;
  }
  .hero__content {
    padding-top: 160px;
  }
  .hero__content p {
    text-align: left;
    font-size: 22px;
  }
  .projects__gallery-title {
    margin: 30px 0 35px 15px;
  }
  .projects__gallery-slider {
    margin: 33px 15px 30px 15px;
  }
  .about__band {
    width: 60%;
  }
  .about .about__title {
    top: -101px;
  }
  .about__content-block img {
    width: 100%;
  }
  .structure .tab-content__header-inner {
    flex-direction: column;
  }
  .structure .tab-content__header-inner .tab-content__logo {
    padding-top: 100px;
  }
  .structure .tab-content__header-inner .tab-content__logo:after {
    top: 30px;
  }
  .structure .tab-content__title {
    padding: 30px 0;
  }
  .structure .task-two__content {
    flex-direction: column;
  }
  .structure .task-three__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .structure .task-three__img {
    padding-top: 0;
  }
  .structure .task-three__content-link {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 32px;
    padding-bottom: 18px;
  }
  .hero__content {
    padding-top: 120px;
  }
  .hero__content p {
    font-size: 18px;
  }
  .projects__gallery-title {
    font-size: 24px;
    padding: 20px 30px 20px 40px;
  }
  .consultation__content {
    padding: 300px 15px 50px 15px;
  }
  .consultation__content-title {
    font-size: 24px;
  }
  .consultation__content p {
    font-weight: 400;
    font-size: 16px;
  }
  .about__band {
    width: 80%;
    height: 80px;
  }
  .about .about__title {
    top: -85px;
    font-size: 24px;
  }
  .structure .tab-content__title {
    font-size: 22px;
  }
  .structure .task-one__title,
  .structure .task-two__title,
  .structure .task-three__title {
    font-size: 20px;
  }
  .structure .task-one__text,
  .structure .task-two__text,
  .structure .task-three__list {
    font-size: 16px;
  }
  .footer__logo {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */