@import 'vars';
@import 'reset';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100px;
    text-transform: uppercase;
  }
  &__logo {
    color: $secondary;
    padding-right: 60px;
    font-size: 18px;
  }
  &__logo span {
    color: $accent;
  }
  .menu__list {
    display: flex;
    gap: 40px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
  }
}

.hero {
  position: relative;
  background-image: $gradient;
  &__content {
    color: $white;
    position: relative;
    bottom: 0;
    max-width: 552px;
  }
  &__title {
    font-size: 68px;
  }
  &__title span {
    color: $accent;
  }
  &__content p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
  }

}
