@import 'vars';
@import 'reset';
@import 'global';

/*---------- header ----------*/
a{
  cursor: pointer;

}
button{
  cursor: pointer;
}
.header {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 100px;
    text-transform: uppercase;
  }
  &__logo {
    color: $secondary;
    padding-right: 60px;
    font-size: 18px;
  }
  &__logo span {
    color: $accent;
  }
  .menu__list {
    display: flex;
    gap: 40px;
  }
  &__glasses {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
  }
  #menuBtn {
    display: none;
    font-size: 35px;
    color: $default;
    align-items: center;
    cursor: pointer;
  }
}

/*---------- hero ----------*/
.hero {
  position: relative;
  background-image: $gradient;
  &:after {
    position: absolute;
    content: "";
    right: 0;
    width: 280px;
    height: 237px;
    background-image: url("../images/hero-tongue.svg");
    background-repeat: no-repeat;
  }
  .container {
    padding-right: 0;
  }
  &__inner {
    position: relative;
  }
  &__inner:after {
    position: absolute;
    content: "";
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 100px;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
  }
  &__content {
    color: $white;
    padding-top: 210px;
    padding-bottom: 73px;
    max-width: 552px;
  }
  &__title {
    font-size: 68px;
    padding-left: 42px;
    padding-bottom: 33px;
  }
  &__title span {
    color: $accent;
  }
  &__content p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
  }
}

/*---------- projects ----------*/
.projects {
  display: flex;
  justify-content: center;
  &__sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50px 0;
    background-color: $background;
    width: 30%;
    // height: 100%;
    padding: 66px 50px 58px 15px;
  }
  &__sidebar:after {
    position: absolute;
    content: "";
    left: 150px;
    bottom: -237px;
    width: 280px;
    height: 237px;
    background-image: url("../images/projects-tongue.svg");
    background-repeat: no-repeat;
  }
  .menu {
    margin-bottom: 44px;
    max-width: 440px;
  }
  .menu__list-item:not(:last-child) {
    padding-bottom: 28px;
  }
  &__sidebar-btn {
    margin-left: 80px;
  }
  &__gallery {
    width: 70%;
  }
  &__gallery-title {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    color: $white;
    background-color: $title-background;
    border-radius: 50px 0 0 0;
    margin: 30px 0 35px 70px;
    padding: 20px 30px 20px 80px;
  }
  .title-line {
    position: relative;
    margin-left: 30px;
    border-bottom: 2px dashed $white;
    flex: 1 0 auto;
    top: 50%;
    transform: translateY(50%);
    &:before {
      position: absolute;
      content: "";
      top: -4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $white;
    }
    &:after {
      position: absolute;
      content: "";
      top: -4px;
      right: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow:  0 0 0 11px $shadow;
      background-color: $white;
      outline: 2px dashed $white;
      outline-offset: 10px;
    }
  }
  &__gallery-slider {
    margin: 33px 0 30px 90px;
    max-width: 1170px;
  }
  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    &-slide {
      max-width: 364px;
      height: 580px;
      &-inner {
        position: relative;
        height: 510px;
        box-shadow: 0 26px 37px -7px rgba(0, 0, 0, 0.2);
      }
      &-text {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 90%;
        height: 84px;
        background-color: $background;
        border-radius: 10px 0 0 10px;
      }
      &-inner p {
        padding: 2px 5px 2px 10px;
        line-height: 1.5rem;
      }
      &-inner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-pagination {
      &-bullet {
        background-color: $title-background;
        width: 12px;
        height: 12px;
      }
      &-bullet-active {
        background-color: $default;
      }
    }
  }
}

/*---------- consultation ----------*/
.consultation {
  background-image: $gradient;
  .container {
    position: relative;
  }
  .container:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(50px);
    background-image: url("../images/consultation-bg.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  .container:after {
    position: absolute;
    content: "";
    right: 350px;
    bottom: -237px;
    width: 280px;
    height: 237px;
    background-image: url("../images/consultation-tongue.svg");
    background-repeat: no-repeat;
  }
  &__content {
    position: relative;
    z-index: 5;
    max-width: 600px;
    color: $white;
    padding: 210px 0 210px 80px;
  }
  &__content-title {
    font-size: 40px;
    font-weight: 500;
  }
  &__content p {
    font-weight: 500;
    font-size: 18px;
    padding: 26px 0 64px;
  }
  &__content-link {
    text-decoration: underline;
  }
  &__content-btn {
    color: $default;
  }
}

/*---------- about ----------*/
.about {
  margin-top: 44px;
  margin-bottom: 40px;
  &__band {
    background-color: $title-background;
    border-radius: 0 50px 0 0 ;
    width: 40%;
    height: 111px;
  }
  .container {
    position: relative;
  }
  .about__title {
    position: absolute;
    top: -111px;
    left: 100px;
    font-size: 42px;
    padding: 30px;
    color: $white;
    font-weight: 500;
  }
  &__content {
    display: flex;
    padding-top: 18px;
  }
  &__content-block:first-child {
    width: 40%;
  }
  &__content-block:last-child {
    width: 60%;
  }
  &__content-text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 90px;
  }
  &__content-text p:first-child {
    padding-bottom: 26px;
  }
  &__content-link {
    margin-top: 55px;
    margin-left: 107px;
  }
  &__content-link .btn {
    display: inline-block;
    background-color: $secondary;
  }
}

/*---------- tabs ----------*/
.structure {
  margin: 20px 0 50px;
  &__title {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 23px;
  }
  .tab-nav {
    border-bottom: 1px solid rgb(217, 217, 217);;
  }
  .tab-btn {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding-inline: 0;
    padding: 10px 20px;
    position: relative;
    top: 1px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(217, 217, 217);
  }
  .tab-btn:not(:last-child) {
    margin-right: -5px;
  }
  .tab-btn-active {
    pointer-events: none;
    background-color: rgb(255, 255, 255);
  }
  .tab-content {
    margin-top: 50px;
  }
  .tab-content__structure {
    background-image: $gradient;
  }
  .tab-content__logo {
    position: relative;
    top: 100px;
    font-size: 34px;
    color: $white;
  }
  .tab-content__logo:after {
    position: absolute;
    content: "";
    top: -70px;
    left: 0;
    width: 250px;
    height: 250px;
    background-image: url("../images/structure-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .tab-content__logo span {
    color: $accent;
  }
  .tab-content__img {
    position: relative;
    top: 110px;
    left: 100px;
  }
  .tab-pane:not(.tab-pane-show) {
    display: none;
  }
  .tab-content__tasks {
    font-size: 34px;
    font-weight: 400;
  }
  .tab-content__tasks-header {
    background-image: $gradient;
  }
  .tab-content__header-inner {
    display: flex;
    align-items: center;
    gap: 130px;
  }
  .tab-content__title {
    padding: 90px 0;
    max-width: 1000px;
    color: $white;
    font-size: 34px;
    font-weight: 700;
  }
  .tab-content__header-inner .tab-content__logo {
    top: 30px;
  }
  .tab-content__tasks-header .container {
    position: relative;
  }
  .tab-content__tasks-header .container:after {
    position: absolute;
    content: "";
    left: -67px;
    bottom: -237px;
    width: 280px;
    height: 237px;
    background-image: url("../images/tasks-tongue.svg");
    background-repeat: no-repeat;
  }
  .tab-content__task-one {
    background-color: $background;
    border-radius: 0 0 50px 0;
    padding-top: 41px;
    padding-bottom: 60px;
  }
  .task-one__title {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    background-color: $white;
    border-radius: 50px 0 0 0;
    margin-left: 40%;
    margin-bottom: 35px;
    padding: 20px 30px 20px 80px;
    .title-line {
      position: relative;
      margin-left: 30px;
      border-bottom: 2px dashed $default;
      flex: 1 0 auto;
      top: 50%;
      transform: translateY(50%);
      &:before {
        position: absolute;
        content: "";
        top: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $default;
      }
      &:after {
        position: absolute;
        content: "";
        top: -4px;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow:  0 0 0 11px $shadow;
        background-color: $default;
        outline: 2px dashed $default;
        outline-offset: 10px;
      }
    }
  }
  .task-one__text {
    line-height: 1.7;
    font-size: 24px;
    max-width: 1337px;
  }
  .tab-content__task-two {
    line-height: 1.7;

    font-size: 24px;
    padding-bottom: 100px;
  }
  .task-two__title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    color: $white;
    background-image: $gradient;
    border-radius: 0 50px 0 0;
    margin-top: 42px;
    margin-right: 40%;
    margin-bottom: 80px;
    padding: 20px 80px 20px 30px;
    .title-line {
      position: relative;
      margin-right: 30px;
      border-bottom: 2px dashed $white;
      flex: 1 0 auto;
      top: 50%;
      transform: translateY(50%);
      &:before {
        position: absolute;
        content: "";
        top: -4px;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $white;
      }
      &:after {
        position: absolute;
        content: "";
        top: -4px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow:  0 0 0 11px $shadow;
        background-color: $white;
        outline: 2px dashed $white;
        outline-offset: 10px;
      }
    }
  }
  .task-two__content {
    display: flex;
    gap: 90px;
    align-items: center;
  }
  .task-two__text {
    max-width: 1017px;
  }
  .tab-content__task-three {
    background-color: $background;
    border-radius: 50px 0 50px 0;
    padding-top: 41px;
    padding-bottom: 60px;
  }
  .task-three__title {
    color: $white;
    background-image: $reverse-gradient;
    margin-bottom: 80px;
    margin-left: 50px;
    padding: 16px;
    border-radius: 50px 0 0 0;
  }
  .task-three__title .container {
    margin-left: 15px;
    max-width: 1287px;
  }
  .task-three__content {
    display: flex;
    justify-content: space-between;
  }
  .task-three__list {
    line-height: 1.7;
    font-size: 24px;
    height: 275px;
    max-width: 1287px;
    padding-bottom: 80px;
    overflow: hidden;


  }
  .task-three__list-item:before {
    content: "- ";
    
  }
  .task-three__img {
    padding-top: 30px;
    object-fit: contain;
  }
  .task-three__content-link .btn {
    font-size: 16px;
    font-weight: 800;
    display: inline-block;
    background-color: $white;
  }
}

/*---------- footer ----------*/
.footer {
  background-image: $gradient;
  &__inner {
    display: flex;
    gap: 10px;
    margin: 56px 0 59px;
    justify-content: space-around;
    color: $white;
  }
  &__logo {
    font-size: 32px;
  }
  &__—Åompany-name {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    max-width: 336px;
  }
  &__content {
    margin-top: 68px;
    font-weight: 500;
  }
  &__content-title {
    font-size: 18px;
    text-transform: uppercase;
  }
  &__content-link {
    text-decoration: underline;
  }
}

/*---------- modals ----------*/

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($color: #000000, $alpha: 0.6);
  .modal-content{
    border-radius: 15px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
    &__header{
      text-align: center;
      margin-bottom: 10px;
      .modal-title{
        color: #000;
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 35px;
      }
    }
    &__body{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 18px;
      grid-row-gap: 20px;
      // justify-items: center;
      justify-content: center;
      .modal-element{
        padding: 5px;
      }
    }   
  }
  .modal-close{
    cursor: pointer;
    color: #AAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


@import 'media';
